body{
	margin:0;
}
#box{
	width:350px;
	height:350px;
	position:relative;
	margin-left:15px;
	margin-top:15px;
	cursor:move;
}
#msk{
	width:175px;
	height:175px;
	background-color:rgba(255,255,0,.5);
	position:absolute;
	left:0;
	top:0;
	display:none;
}
#box2{
	width:400px;
	height:400px;
	overflow:hidden;
	position:absolute;
	left:400px;
	top:15px;
	display:none;
}
#box2 img{
	position:absolute;
	left:0;
	top:0;
}
