body{
	margin:0;
}
#box{
	width:400px;
	height:400px;
	border:1px solid black;
	margin:50px auto;
	position:relative;
	overflow:hidden;
}
#box img{
	position:absolute;
	left:-9999px;
	top:-9999px;
	/*z-index:1*/
}
